<!--
Name: Derek Kneisel & Adham Elbaz
Course: CSC 415 and BUS/MGT 375
Semester: Fall 2018
Instructor: Dr. Pulimood
Project name: Ticketman - Team 2 - Special Ops
Description: This project is to help Dave Zboray (from MSF) organize all the issues his employees have. An employee can
submit an issue which is then displayed in an issue table. Dave can view all issues to see what needs to be done. He can
edit, update, or delete these issues to let his employees know that their issues are taken care of.
Filename: _form.html.erb
Description: This is a partial form that is loaded when the user wants to create a new ticket or edit a ticket.
Last modified on: 12/03/2018
-->
  <%= form_for(ticket) do |f| %>
    <div class="form-group" style="font-size: larger">
<!--  User enters issue title-->
      <%= f.label :"Issue Title" %><br>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter Issue Title Here", :required=>true %><br>
<!--  User enters issue summary-->
      <%= f.label :Summary %><br>
      <%= f.text_field :summary, class: 'form-control',  placeholder: "Enter Issue Summary Here", :required=>true %><br>
<!--  User selects Department-->
      <%= f.label :Department %>
      <%= f.select :department, [['7 Dunmoore Avenue','7 Dunmoore Avenue'],
                                 ['151 Mercer Street','151 Mercer Street'],
                                 ['222 North Hermitage','222 North Hermitage'],
                                 ['400 Montgomery (Rivera School)','400 Montgomery (Rivera School)'],
                                 ['824 Silvia Street','824 Silvia Street'],
                                 ['1201 West State','1201 West State'],
                                 ['Other','Other']], { :include_blank => '--- Select Department ---', :required => true}, {class: "btn btn-outline-primary"}%><br>
<!--  User selects priority-->
      <%= f.label :Priority %>
      <%= f.select :priority, [['High', 'High'],
                               ['Medium', 'Medium'],
                               ['Low', 'Low']],  { :include_blank => '--- Select Priority ---', :required => true},{class: "btn btn-outline-primary"}%><br>


<!--  User selects status-->
      <%= f.label :Status %>
      <%= f.select :status, [['Open', 'Open'],
                             ['Closed', 'Closed'],
                             ['In Progress', 'In Progress']],  { :include_blank => '--- Select Status ---', :required => true }, {class: "btn btn-outline-primary"}%><br>
        <%= f.submit 'Save ticket',class: 'btn btn-primary' %><br>
    </div>

  <% end %>
