
  <%= form_for(ticket) do |f| %>
    <div class="form-group">
      <%= f.label :"Issue Title" %><br>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter Issue Title Here", :required=>true %><br>
      <%= f.label :Summary %><br>
      <%= f.text_field :summary, class: 'form-control',  placeholder: "Enter Issue Summary Here", :required=>true %><br>
      <%= f.label :Department %>
      <%= f.select :department, [['7 Dunmoore Avenue','7 Dunmoore Avenue'],
                                 ['151 Mercer Street','151 Mercer Street'],
                                 ['222 North Hermitage','222 North Hermitage'],
                                 ['400 Montgomery (Rivera School)','400 Montgomery (Rivera School)'],
                                 ['824 Silvia Street','824 Silvia Street'],
                                 ['1201 West State','1201 West State'],
                                 ['Other','Other']], { :include_blank => '--- Select Department ---' }, :required => true%>
      <%= f.label :Priority %>
      <%= f.select :status, [['High', 'High'],
                             ['Medium', 'Medium'],
                             ['Low', 'Low']],  { :include_blank => '--- Select Status ---' }, :required => true%>

      <%= f.label :Status %>
      <%= f.select :status, [['Open', 'Open'],
                             ['Closed', 'Closed'],
                             ['In Progress', 'In Progress']],  { :include_blank => '--- Select Status ---' }, :required => true%>
      <br>
        <%= f.submit 'Save ticket',class: 'btn btn-primary' %>
    </div>












  <% end %>
