<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Details</th>
      <th scope="col">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td size = 40><%= ticket.name %></td>
        <td ><%= ticket.status %></td>
        <td ><%= "Click Show For More Details" %> </td>
        <td>
          <%= link_to 'Show', ticket %>
          <%= link_to 'Edit', edit_ticket_path(ticket) %>
          <%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
