
<!--    <p>-->
<!--      <div class="container">-->
<!--        <div class="panel panel-default">-->
<!--          <div class="panel-body">-->
<!--<table>-->
<h1 class="display-3">Current Ticket: <%= @ticket.name %></h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Summary</th>
      <th scope="col">Status</th>
      <th scope="col">Department</th>
      <th scope="col">Time Created</th>
      <th scope="col">Ticket ID Number</th>
    </tr>
    </thead>
	<tr>	
		<td><%= @ticket.name %></td>
		<td><%= @ticket.summary %></td>
		<td><%= @ticket.status %></td>
    <td><%= @ticket.department %></td>
    <td><%= @ticket.created_at %></td>
    <td><%= @ticket.id %></td></d>
	</tr>
</table>


<div class="btn btn-primary" >
  <%= link_to 'Edit', edit_ticket_path(@ticket), :class => "btn btn-primary" %>
</div>
<div class="btn btn-primary" >
  <%= link_to 'Home', tickets_path, :class => "btn btn-primary" %>
</div>

