<!--
Name: Derek Kneisel & Adham Elbaz
Course: CSC 415 and BUS/MGT 375
Semester: Fall 2018
Instructor: Dr. Pulimood
Project name: Ticketman - Team 2 - Special Ops
Description: This project is to help Dave Zboray (from MSF) organize all the issues his employees have. An employee can
submit an issue which is then displayed in an issue table. Dave can view all issues to see what needs to be done. He can
edit, update, or delete these issues to let his employees know that their issues are taken care of.
Filename: show.html.erb
Description: This page is displayed when the user creates a new ticket. It notifies them that their ticket has been created.
Last modified on: 12/03/2018
-->
<h1 class="display-3">Current Ticket: <%= @ticket.name %></h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Summary</th>
      <th scope="col">Status</th>
      <th scope="col">Department</th>
      <th scope="col">Time Created</th>
      <th scope="col">Ticket ID Number</th>
    </tr>
    </thead>
	<tr>
		<td><%= @ticket.name %></td>
		<td><%= @ticket.summary %></td>
		<td><%= @ticket.status %></td>
    <td><%= @ticket.department %></td>
    <td><%= @ticket.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%Y-%m-%d at %l:%M %p") %></td>
    <td><%= @ticket.id %></td></d>
	</tr>
</table>


<div class="btn btn-primary" >
  <%= link_to 'Edit', edit_ticket_path(@ticket), :class => "btn btn-primary" %>
</div>
<div class="btn btn-primary" >
  <%= link_to 'Home', tickets_path, :class => "btn btn-primary" %>
</div>

